%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_task');
  element.className = 'current';
- form_for @task, :html=>{:id=>'columnarForm'} do |f|
  %fieldset
    %legend
      Task Form
    %label
      Title
      = f.text_field :title 
    %label
      Description
      = f.text_area :description 
    %label
      Action
      =f.select :aasm_state, @task.aasm_events_for_current_state, {:include_blank=>true}
    %label
      Stories
      = f.collection_select :story_ids, Story.find(:all), :id, :title, {}, {:multiple=>true, :size=>5, :name=>'task[story_ids][]'}
    = submit_tag "Save", {:class => 'submit_button'} 
    = button_to_function("Cancel", "location.href='#{tasks_path}'", {:class=>'submit_button'}) 
