%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_task');
  element.className = 'current';
- form_for @task, :html=>{:id=>'columnarForm'} do |f|
  %fieldset
    %legend
      Task Form
    %ol
      %li
        = f.label :title, "Title", :class => "required"
        = f.text_field :title, :size=>92
      %li
        = f.label :description, "Description"
        = f.text_area :description , :cols=>80
      %li
        = f.label :state, "Action"
        =f.select :state, @task.available_events, {:include_blank=>true}
      %li
        = f.label :story_ids, "Stories"
        .multiple_select
          =render :partial=>"story",:collection=>@stories
    = submit_tag "Save", {:class => 'submit_button'} 
    = button_to_function("Cancel", "location.href='#{tasks_path}'", {:class=>'submit_button'}) 
