- form_for @task do |f|
  &nbsp;
  %fieldset
    = f.label :title 
    = f.text_field :title 
    %br#clear-left/
    = f.label :description 
    = f.text_area :description 
    %br#clear-left/
    = submit_tag "Save", {:id => 'submit_button'} 
    = link_to("Cancel", tasks_path) 
