%tr[story, cycle('odd', 'even')]
  %td
    =link_to(h(story.mnemonic), story_path(story))
  %td
    = link_to_function h(story.title), nil, :update do |page|
      - page.visual_effect :toggle_slide, "td_#{story.id}"
      - page.visual_effect :highlight, "td_#{story.id}", :duration=>3

    %div{:id=>"td_#{story.id}", :style=>'display:none'}
      =markdown(story.description)
  %td
    %span{:id=>"swag_#{story.id}"}<
      -if story.swag
        =story.swag
      -else
        Unswagged
    =in_place_editor "swag_#{story.id}", {:url=>update_swag_story_path(story), :cols=>10, :rows=>1, :on_complete=>"function() {window.location.reload();}", :cancel_control=>'button'}
  %td.centered
    =story.state
  %td.centered
    =story.assignee
  %td.centered
    =story.nodule
  %td.centered
    = link_to(h(story.iteration.title), iteration_path(story.iteration)) if story.iteration
  %td
    =render :partial=>'shared/taggable', :locals=>{:thing=>story, :url=>update_tags_story_path(story)}
  %td.centered
    =salesforce_link(story, 'list')
  %td.rctl
    =link_to("Show", story_path(story))
    =link_to("Edit", edit_story_path(story))

