%tr[story, cycle('odd', 'even')]
  %td
    =link_to(h(story.mnemonic), story_path(story))
  %td{:id=>"td_#{story.id}"}
    = link_to_function h(story.title), nil, :update do |page|
      - page.replace_html "td_#{story.id}", simple_format(story.description)
  %td
    %span{:id=>"swag_#{story.id}"}
      -if story.swag
        =story.swag
      -else
        Unswagged

    =in_place_editor "swag_#{story.id}", {:url=>update_swag_story_path(story)}
  %td.centered
    =story.state
  %td.centered
    =story.nodule
  %td.centered
    =story.iteration.title if story.iteration
  %td
    =story.tag_list.join(',')
  %td.rctl
    =link_to("Show", story_path(story))
    =link_to("Edit", edit_story_path(story))
