%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_story');
  element.className = 'current';
=error_messages_for "story"
- form_for @story, :html=>{:id=>'columnarForm'} do |f|
  %fieldset
    %legend
      Story Form
    %p
      = link_to "Markup Syntax Help", "http://daringfireball.net/projects/markdown/syntax", :target => "_blank"
    %ol
      %li
        = f.label :title, "Title", :class => "required"
        = f.text_field :title, :size=>92
      %li
        = f.label :description, "Description", :class => "required"
        = f.text_area :description, :cols=>80
      %li
        = f.label :nodule, "Area"
        = f.text_field :nodule
      %li
        = f.label :tag_list, "Tags"
        = f.text_field :tag_list
      %li
        = f.label :salesforce_ticket_nbr, "Salesforce Ticket"
        = f.text_field :salesforce_ticket_nbr, :size=>10
      %li
        = f.label :salesforce_url, "Salesforce Url"
        = f.text_field :salesforce_url, :size=>50
      %li
        = f.label :swag, "Swag"
        = f.text_field :swag, :size=>5
      %li
        = f.label :iteration_id, "Iteration"
        = f.select :iteration_id, Iteration.find(:all).collect{|i| [i.title, i.id]}, {:include_blank=>true}
      %li 
        =submit_tag "Save", {:class=> "submit_button"}
        =button_to_function "Cancel", "location.href='#{@story != nil && @story.id != nil ? story_path(@story.id) : stories_path}'", {:class=>'submit_button'}


